.dashboard-container{
    padding-top: 40px;
    font-size: 1.2em;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;

    h1{
       width: 100%;
       text-align: center;
    }
}

@media (orientation: landscape){
    .chart-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .split{
            display: flex;
            div{
                width: 50%;
            }
        }
    }
}
